@use "../abstracts/tokens" as *;

* {
  box-sizing: border-box;
}

html {
  min-width: $breakpoint-min;
  background: $color-surface;
}

body {
  margin: 0;
}

button,
input {
  font: inherit;
}

button {
  cursor: pointer;
}
