@use "../abstracts/tokens" as *;

body {
  color: $color-text-body;
  font-family: $font-family-base;
  font-size: $font-size-admin;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
